<p>Create new stock watch</p>
<form
  class="form-container"
  [formGroup]="addStockGroup"
  [style.fontSize.px]="12"
  (ngSubmit)="add()"
>
  <div>
    stock:
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Ex. NFLX"
        required
        [formControl]="tickerControl"
      />
    </mat-form-field>
    <br />
    price:
    <mat-form-field appearance="fill">
      <input matInput type="number" [formControl]="priceControl" required />
      <span matPrefix>$</span>
    </mat-form-field>
  </div>
  <button
    class="submit-button"
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!addStockGroup.valid || addInProgress"
  >
    Add
  </button>
</form>
